# .NET
bin/
obj/
*.user
*.suo
.vs/
*.nupkg
*.snupkg
TestResults/

# ASP.NET Core
appsettings.Development.json

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log
.npm

# VS Code
.vscode/
*.code-workspace

# Python/ specify CLI
__pycache__/
*.py[cod]
.venv/
.uv/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Secrets / env
.env
.env.*
secrets.json
